.about {
  padding-top: 79px;
  padding-bottom: 71px;
}

.about__title {
  margin-bottom: 15px;
}

.about__text {
  max-width: 1091px;
}

@media (max-width: 1280px) {
  .about {
    padding-bottom: 70px;
  }
}
@media (max-width: 610px) {
  .about {
    padding: 51px 3px 39px 1px;
  }
  .about__title {
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 35px;
  }
  .about__text {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
  }
}
