.catalog {
  padding-top: 80px;
  padding-bottom: 40px;
}

.catalog__header {
  max-width: 68%;
  margin-bottom: 38px;
}

.question:first-child .heading {
  border-top: 1px solid lightgray;
}

.catalog__title {
  margin-bottom: 14px;
}

/* catalog accordion */

.catalog__inner {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.catalog__card {
  max-width: 46.9%;
  margin-right: 15px;
}

.catalog__accord {
  min-width: 50%;
}

.catalog__author-pic-link {
  display: block;
  width: 100%;
  margin-bottom: 31px;
}

.author-title {
  margin: 0;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
}
.author-birthday {
  font-size: 12px;
  line-height: 16px;
  color: #999;
}

.author-descr {
  margin: 0;
  line-height: 32px;
}

.heading {
  position: relative;
  display: block;
  width: 100%;
  margin-bottom: 0;
  margin-top: -1px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid lightgray;
  border-right: none;
  border-left: none;
  -webkit-transition: border-color 0.3s ease;
  -o-transition: border-color 0.3s ease;
  transition: border-color 0.3s ease;
  padding: 42px 72px 40px 0;
  font-size: 24px;
  text-align: left;
  background-color: transparent;
  cursor: pointer;
  -webkit-transition: color 0.3s ease, border-color 0.3s ease;
  -o-transition: color 0.3s ease, border-color 0.3s ease;
  transition: color 0.3s ease, border-color 0.3s ease;
}

.question:first-child .heading:hover,
.heading:hover,
.is-active.question:first-child .heading,
.is-active.question .heading {
  border-color: var(--violet-dark);
}

.heading__text {
  position: relative;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
}

.heading__text-wrap {
  position: relative;
  z-index: 1;
}

.heading__text::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: calc(100% + 8px);
  height: 100%;
  -webkit-transform: translate(-50%, -50%) scaleX(0);
  -ms-transform: translate(-50%, -50%) scaleX(0);
  transform: translate(-50%, -50%) scaleX(0);
  background-color: var(--violet-dark);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  -o-transition: transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.heading:hover {
  color: var(--violet-dark);
}

.heading:focus {
  color: #ffffff;
  outline: none;
}

.heading:focus .heading__text::before {
  -webkit-transform: translate(-50%, -50%) scaleX(1);
  -ms-transform: translate(-50%, -50%) scaleX(1);
  transform: translate(-50%, -50%) scaleX(1);
}
.heading__text:active {
  color: var(--violet-light);
}

.head-icon {
  position: absolute;
  top: 50%;
  right: -3px;
  width: 60px;
  height: 50px;
  -webkit-transform: translateY(-50%) rotate(-180deg);
  -ms-transform: translateY(-50%) rotate(-180deg);
  transform: translateY(-50%) rotate(-180deg);
  -webkit-transition: background-color.3s, 0.6s ease, 0.6s ease,
    -webkit-transform 0.3s;
  transition: background-color.3s, 0.6s ease, 0.6s ease, -webkit-transform 0.3s;
  -o-transition: background-color.3s, 0.6s ease, transform 0.3s, 0.6s ease;
  -webkit-transition: background-color.3s, 0.6s ease, 0.6s ease,
    -webkit-transform 0.3s;
  transition: background-color.3s, 0.6s ease, transform 0.3s, 0.6s ease;
  transition: background-color.3s, 0.6s ease, transform 0.3s, 0.6s ease,
    -webkit-transform 0.3s;
  transition: background-color.3s, 0.6s ease, transform 0.3s, 0.6s ease,
    -webkit-transform 0.3s;
}

.head-icon-round {
  -webkit-transition: fill 0.5s ease, stroke 0.5s ease;
  -o-transition: fill 0.5s ease, stroke 0.5s ease;
  transition: fill 0.5s ease, stroke 0.5s ease;
}

.heading:hover .head-icon-round,
.heading:focus .head-icon-round {
  fill: var(--violet-super-light);
  stroke: var(--violet-super-light);
}

.heading:hover .head-icon::before,
.heading:hover .head-icon::after,
.heading:focus .head-icon::before,
.heading:focus .head-icon::after {
  background-color: #fff;
}

.is-active .head-icon {
  -webkit-transform: translateY(-50%) rotate(0);
  -ms-transform: translateY(-50%) rotate(0);
  transform: translateY(-50%) rotate(0);
}

.is-active .heading .head-icon-round {
  fill: var(--violet-super-light);
  stroke: var(--violet-light);
}

.content {
  overflow: hidden;
  visibility: hidden;
  margin-top: -1px;
  border-bottom: 1px solid transparent;
}

.is-active .content {
  visibility: visible;
  border-color: lightgray;
}

.content-wrap {
  padding-top: 28px;
  padding-bottom: 55px;
}

.text {
  margin-top: 0;
  margin-bottom: 20px;
}

.catalog__author-list {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  line-height: 32px;
}

.catalog__author-item {
  width: calc(100% / 3 + 117px);
}

.catalog__author-link {
  border-bottom: 1px solid transparent;
  -webkit-transition-property: color, border-color;
  -o-transition-property: color, border-color;
  transition-property: color, border-color;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}

.catalog__author-link:hover {
  color: var(--violet-dark);
  border-color: var(--violet-dark);
}

.catalog__author-link:active {
  color: var(--dark);
  border-color: transparent;
}

.catalog__author-link:focus-visible {
  color: #fff;
  background-color: var(--violet-dark);
  outline: none;
}

.catalog__author-link.active {
  color: var(--dark);
}

.catalog__info-card {
  margin-bottom: 30px;
}

.content-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.blank {
  position: relative;
  display: inline-block;
  margin-right: 24px;
  padding: 12px;
  width: 275px;
  height: 189px;
  border: 2px solid #b7b7b7;
  background-color: transparent;
}

.blank span {
  display: block;
  width: 100%;
  height: 100%;
  background-color: #b7b7b7;
}

.blank-info {
  display: inline-block;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  max-width: 275px;
}

.blank-header {
  margin: 0;
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 600;
}

.blank-text {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  margin-bottom: 7px;
}

.descr-link,
.blank-link {
  color: var(--violet-dark);
  font-size: 16px;
  font-weight: 600;
  line-height: 21px;
  border-bottom: 1px solid transparent;
  -webkit-transition: border-color 0.3s ease-in-out;
  -o-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
}

.blank-link:hover,
.descr-link:hover {
  border-color: var(--violet-dark);
}

.blank-link:active,
.descr-link:active {
  color: var(--dark);
  border-color: transparent;
}

.blank-link:focus-visible,
.descr-link:focus-visible {
  color: var(--white);
  background-color: var(--violet-dark);
  outline: none;
}

.catalog__author-pic {
  display: none;
}

.catalog__author-pic.tab-active {
  display: block;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
}

.accordion-btn {
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.author-txt {
  margin-bottom: 15px;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* media queries  */

@media (max-width: 1440px) {
  .catalog__author-list {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }

  .catalog__author-item {
    width: auto;
    margin-right: 0;
  }

  .catalog__author-list {
    width: 100%;
  }
}

@media (max-width: 1024px) {
  .catalog__author-item {
    width: calc(100% / 2 + 92px);
  }
  .catalog {
    padding-bottom: 35px;
  }

  .content-wrap {
    padding-top: 26px;
    padding-bottom: 15px;
  }

  .catalog__header {
    max-width: none;
    margin-bottom: 39px;
  }
  .catalog__title {
    margin-bottom: 14px;
  }
  .author-descr {
    padding: 0;
  }
  .catalog__author-pic {
    margin-bottom: 29px;
  }
  .catalog__card {
    max-width: 47.4%;
    margin-right: 48px;
  }

  .heading {
    padding: 42px 72px 43px 0;
  }

  .head-icon {
    position: absolute;
    top: 51.2%;
    right: -5px;
  }

  .blank-info {
    -ms-flex-item-align: start;
    align-self: flex-start;
    max-width: 227px;
  }
  .blank {
    position: relative;
    display: inline-block;
    margin-right: 24px;
    padding: 8px;
    width: 173px;
    height: 114px;
    border: 2px solid #b7b7b7;
    background-color: transparent;
  }
  .blank-header {
    margin-bottom: 0;
  }

  .blank-text {
    margin-bottom: 0;
  }

  .catalog__info {
    text-align: left;
  }

  .catalog__accord {
    min-width: 47%;
  }
}

@media (max-width: 768px) {
  .catalog {
    padding-bottom: 35px;
  }
  .catalog__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .catalog__author-list {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
  }
  .catalog__author-item {
    width: calc(100% / 3 + 153px);
    line-height: 32px;
  }
  .catalog__header {
    margin-bottom: 21px;
  }
  .catalog__title {
    margin-bottom: 16px;
  }
  .catalog__accord {
    margin-bottom: 58px;
  }

  .content-wrap {
    padding-top: 25px;
    padding-bottom: 56px;
  }

  .catalog__card {
    min-width: 100%;
    margin-right: 0;
  }

  .head-icon {
    top: 49.2%;
    right: -6px;
  }
  .heading {
    padding: 40px 72px 41px 0;
  }
  .catalog__author-pic {
    margin-bottom: 0;
  }
}

@media (max-width: 700px) {
  .catalog__author-list {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
}

@media (max-width: 440px) {
  .catalog__author-list {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }

  .author-title {
    margin-bottom: 5px;
  }
  .author-descr {
    line-height: 32px;
  }
  .catalog__info-card {
    margin-bottom: 20px;
  }
  .author-layout {
    margin-bottom: 5px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
  }

  .catalog__title {
    margin-bottom: 0;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 38px;
  }
  .catalog__accord {
    margin-bottom: 38px;
  }
  .catalog__author-pic-link {
    margin-bottom: 20px;
  }

  .catalog {
    padding-top: 48px;
    padding-bottom: 48px;
  }

  .catalog__text {
    display: none;
  }

  .catalog__header {
    margin-bottom: 13px;
  }
  .heading__text-wrap {
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
  }
  .head-icon {
    top: 52.2%;
    right: 1px;
    width: 30px;
    height: 30px;
  }

  .heading {
    padding: 20px 63px 20px 0px;
  }

  .content-wrap {
    padding-top: 22px;
    padding-bottom: 19px;
  }

  .blank {
    padding: 8px;
    width: 90px;
    height: 130px;
  }
  .blank-info {
    top: 25px;
    left: 115px;
  }
  .blank-header {
    font-size: 18px;
  }
}
