.contacts__wrap {
  border: 1px solid #cacaca;
}

.contacts__top {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 31px;
  padding-bottom: 35px;
}

.contacts__address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.contacts-form {
  position: relative;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.contacts__social-links {
  padding-top: 5px;
}

.contacts-form__validation {
  margin-right: 20px;
}
.contacts__address span {
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
}

.contacts__address {
  margin: 0;
  font-size: 16px;
  line-height: 32px;
  font-weight: 400;
  font-style: normal;
}

.contacts__text {
  margin: 0;
  margin-bottom: 6px;
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
}

.contacts-form__input {
  padding: 14px 24px 17px 24px;
  min-width: 270px;
  border-radius: 100px;
  border: 1px solid #333;
  font-size: 16px;
  -webkit-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
  outline: none;
}

.contacts-form__validation input:hover,
.contacts-form__validation input:focus {
  background-color: #eaeaea;
}

.just-validate-error-label {
  position: absolute;
  top: -20px;
  padding-left: 25px;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}

.just-validate-error-field {
  border: 1px solid #d11616;
}
.just-validate-error-field:focus-visible,
.just-validate-success-field:focus-visible {
  outline: none;
}

.contacts__btn {
  position: relative;
  padding: 13px 35px;
  border: 2px solid var(--violet-dark);
  border-radius: 100px;
  font-size: 18px;
  font-weight: 700;
  background-color: transparent;
  color: var(--violet-dark);
  -webkit-transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out,
    border-color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out,
    border-color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out,
    border-color 0.3s ease-in-out;
  cursor: pointer;
}

.contacts__btn::before {
  content: "";
  position: absolute;
  top: -5px;
  right: -5px;
  bottom: -5px;
  left: -5px;
  outline: 2px solid var(--violet);
  border-radius: inherit;
  -webkit-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
}

.contacts__btn:focus-visible::before {
  opacity: 1;
}
.contacts__btn:focus-visible {
  outline: none;
}

.contacts__btn:hover {
  background-color: var(--violet-dark);
  color: #fff;
}

.contacts__btn:active {
  background-color: var(--violet-light);
  outline: 3px solid var(--violet-super-light);
  color: #fff;
}

.contacts__social-item {
  outline: none;
}
.contacts__social-item:not(:last-child) {
  margin-right: 20px;
}

.contacts__social-item svg {
  border-radius: 50%;
  -webkit-transition: opacity 0.3s ease-in-out, border 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out, border 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out, border 0.3s ease-in-out;
}

.contacts__social-item svg:hover {
  opacity: 0.5;
}

.contacts__social-item svg:active {
  border: 1px solid var(--violet-dark);
}

.contacts__social-link:focus-visible svg {
  opacity: 0.5;
}
.contacts__social-link:focus-visible {
  outline: none;
}

/* yandex map  */

.contacts__map {
  width: 100%;
  min-height: 700px;
}

[class*="ground-pane"] {
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}

@media (max-width: 1760px) {
  .contacts__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 43px;
    padding-bottom: 43px;
  }

  .contacts-form {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 39px;
  }

  .contacts__descr {
    margin-bottom: 39px;
  }
}

@media (max-width: 1024px) {
  .contacts__top {
    padding-right: 40px;
    padding-bottom: 37px;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .contacts-form {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .contacts__descr {
    margin-bottom: 31px;
  }
  .contacts-form__validation {
    margin-bottom: 25px;
  }
  .contacts-form {
    margin-bottom: 0;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .contacts__social-item {
    margin-right: 20px;
  }
  .contacts__social-link svg {
    width: 40px;
    height: 40px;
  }
   .contacts__btn {
    padding: 13px 41px;
  }
}

@media (max-width: 768px) {
  .contacts__top {
    padding-right: 20px;
    padding-top: 43px;
    padding-bottom: 38px;
  }
  .contacts-form__input {
    min-width: 323px;
  }

  .contacts-form {
    margin-bottom: 25px;
  }
  .contacts-form__input {
    padding: 18px 24px 11px 24px;
  }
  .contacts__btn {
    padding: 13px 27px;
  }
  .contacts-form__validation {
    margin-bottom: 14px;
    margin-right: 20px;
  }
  .just-validate-error-label {
    top: auto;
    -webkit-transform: translateY(-67px);
    -ms-transform: translateY(-67px);
    transform: translateY(-67px);
  }
}

@media (max-width: 576px) {
  .contacts__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding: 20px 15px;
  }
  .contacts__descr {
    margin-bottom: 20px;
  }

  .contacts__address {
    line-height: 10px;
    font-size: 14px;
  }
  .contacts__address span {
    font-size: 18px;
  }
  .contacts__wrap {
    border: none;
  }
  .contacts__text {
    font-size: 17px;
    margin-bottom: 21px;
  }
  .contacts__text:nth-child(2n) {
    margin-bottom: 11px;
  }
  .contacts__social-link svg {
    width: 50px;
    height: 50px;
  }

  .contacts__text--social {
    margin-bottom: 7px;
  }
  .contacts__social-item {
    margin-right: 20px;
  }
}

@media (max-width: 320px) {
  .contacts {
    padding-top: 13px;
  }
  .contacts-form {
    margin-bottom: 15px;
  }
  .contacts__address span {
    margin-bottom: 0;
  }

  .contacts__top {
    margin-bottom: 0;
    padding-bottom: 9px;
  }
  .contacts__btn {
    overflow: hidden;
    width: 128px;
    height: 40px;
    font-size: 12px;
  }
  .contacts__btn::after {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    content: "Заказать";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    color: var(--violet-dark);
    background-color: var(--white);
    border-radius: 100px;
  }
  .contacts-form__input {
    min-width: 100%;
  }

  .contacts__map {
    min-height: 328px !important;
  }

  .contacts-form__input {
    padding: 11px 24px 8px 24px;
  }
  .contacts-form__validation {
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }
  .just-validate-error-label {
    top: auto;
    -webkit-transform: translateY(-58px);
    -ms-transform: translateY(-58px);
    transform: translateY(-58px);
  }
}
