.footer {
  padding-top: 47px;
  padding-bottom: 38px;
  background-color:#000;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer__item:not(:last-child) {
  margin-right: 20px;
}

.footer__link-social svg {
  width: 45px;
  height: 45px;
}

.footer__link-social svg path {
  -webkit-transition: fill 0.3s ease-in-out;
  -o-transition: fill 0.3s ease-in-out;
  transition: fill 0.3s ease-in-out;
}

.footer__link-social:hover svg path {
  fill: #fff;
}

.footer__link-social:active svg path {
  fill: var(--violet-dark);
}

.footer__link-social:focus-visible svg path {
  fill: #fff;
}
.footer__link-social:focus-visible {
  outline: none;
}

@media (max-width: 1440px) {
  .footer__container {
    padding-right: 50px;
    padding-left: 50px;
  }
  .footer__item:not(:last-child) {
    margin-right: 30px;
  }
  .footer__link-social svg {
    width: 60px;
    height: 60px;
  }
}

@media (max-width: 1024px) {
  .footer {
    padding: 41px 0 31px 0;
  }
}

@media (max-width: 440px) {
  .footer {
    padding: 20px 0;
  }
  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-right: 55px;
    padding-left: 55px;
  }
  .footer__item:not(:last-child) {
    margin-right: 30px;
  }
  .footer__list {
    margin-bottom: 16px;
  }
  .footer__link-social svg {
    width: 50px;
    height: 50px;
  }
  .footer__link {
    width: 97px;
    height: 22px;
  }
}
