.gallery {
  padding-top: 80px;
  padding-bottom: 80px;
  background-image: url("../img/gallery-bgI.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.gallery__container {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -ms-flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -ms-flex-pack: justify;
}

.gallery-left {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: calc(400 / 1600 * 100%);
}

.gallery__title {
  margin-bottom: 16px;
  color: var(--white);
}

.gallery__span-text {
  margin-bottom: 9px;
  font-size: 16px;
  font-weight: 600;
  color: var(--white);
}

/* gallery choices  */

.choices {
  width: 100%;
  height: 40px;
  color: var(--white);
  -webkit-transition-property: background-color, -webkit-transform;
  transition-property: background-color, -webkit-transform;
  -o-transition-property: background-color, transform;
  transition-property: background-color, transform;
  transition-property: background-color, transform, -webkit-transform;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}

.choices[role="listbox"]::after {
  display: inline-block;
  position: absolute;
  right: 13px;
  border: none;
  margin-top: 0;
  width: 12px;
  height: 100%;
  background-image: url("../img/choises-arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.choices[role="listbox"].is-open::after {
  margin-top: 0;
  -webkit-transform: translateY(-48%) rotate(-180deg);
  -ms-transform: translateY(-48%) rotate(-180deg);
  transform: translateY(-48%) rotate(-180deg);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.choices__inner {
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  border: 1px solid var(--white);
  border-radius: 6px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 6px;
  padding-bottom: 2px;
  min-height: 40px;
  font-size: 16px;
  line-height: 1;
  background-color: transparent;
  -webkit-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

.choices__inner:hover {
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

.choices:focus-visible {
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

.is-open .choices__inner,
.is-focused .choices__inner {
  border-radius: 6px;
}

.choices__list--dropdown {
  color: #999;
  border: 1px solid #999;
  border-radius: 6px;
  font-size: 16px;
  line-height: 32px;
  background-color: rgba(0, 0, 0, 0.7);
}

.choices__item {
  -webkit-transition-property: background-color, color;
  -o-transition-property: background-color, color;
  transition-property: background-color, color;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}

.choices__item--choice:not(:last-child) {
  border-bottom: 1px solid #999;
}

.choices__item.is-selected {
  display: none;
}

.choices__list--dropdown .choices__item {
  font-size: 16px;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted {
  color: var(--white);
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-transition-property: background-color, color;
  -o-transition-property: background-color, color;
  transition-property: background-color, color;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}

.choices__list--dropdown .choices__item--selectable:active {
  color: var(--white);
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-transition-property: background-color, color;
  -o-transition-property: background-color, color;
  transition-property: background-color, color;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}

.choices__list--dropdown .choices__item,
.choices__list[aria-expanded] .choices__item {
  padding: 6px 16px 2px 16px;
}

.choices__list--dropdown .choices__item--selectable::after {
  display: none;
}

.choices__list.choices__list--dropdown {
  background-color: #000;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted,
.choices__list[aria-expanded] .choices__item--selectable.is-highlighted {
  background-color: rgba(255, 255, 255, 0.2);
}

.gallery__choices:focus-visible {
  outline: none;
  background-color: rgba(255, 255, 255, 0.2);
}

.gallery__choices {
  margin-bottom: 179px;
  }

.choices__list--dropdown,
.choices__list[aria-expanded] {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

/* gallery chekbox  */

.form-content {
  display: flex;
  flex-wrap: wrap;
}

.gallery__checkbox {
  margin-right: calc(582 / 1600 * 100%);
  color: var(--white);
  cursor: pointer;
  font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 23px;
 }

 .gallery__checkbox:not(:last-child) {
  margin-bottom: 8px;
}

.check-label:hover .checkmark {
  border-color: var(--violet);
}

.check-label:hover .check-text {
  color: var(--violet);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.checkmark {
  position: relative;
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-right: 8px;
  border: 1px solid var(--white);
  vertical-align: middle;
  transition: border-color .3s ease-in-out;
}

.checkmark::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: var(--violet);
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: opacity .3s ease-in-out;
}

.checkbox:checked ~ .checkmark {
  border-color: var(--violet);
}

.checkbox:checked ~ .checkmark::before {
  opacity: 1;
}

.checkbox:focus ~ .checkmark {
  border-color: var(--violet);
}

.checkbox:focus ~ .checkmark::before {
  background-color: var(--violet);
}

.check-text {
  vertical-align: middle;

  transition: color .3s ease-in-out;
}

.checkbox:checked ~ .check-text {
  color: var(--violet);
}

.checkbox:focus ~ .check-text {
  color: var(--violet);
}

/* gallery swiper  */

.gallery__swiper {
  width: calc(1151 / 1600 * 100%);
  padding-top: 29px;
  margin-right: 0;
}

.swiper-nav {
  display: inline-flex;
  margin-bottom: 30px;
}

.pagination,
.prev,
.next {
  position: static;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.prev,
.next {
  -ms-flex-item-align: end;
  align-self: flex-end;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: 2px solid transparent;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: background-color 0.3s ease-in-out,
    border-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out,
    border-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.next {
  background-color: #666;
}

.next::after {
  font-size: 10px;
  color: var(--white);
}

.next:focus-visible {
  border-color: #000;
  outline: none;
}

.next:hover {
  background-color: var(--violet-dark);
}

.next:active {
  background-color: var(--violet-light);
  border-color: #000;
}

.swiper-button-disabled.next::after {
  color: var(--white);
}

.next.swiper-button-disabled {
  background-color: #666;
  opacity: 0.5;
}

.prev {
  background-color: #666;
}

.prev::after {
  font-size: 10px;
  color: var(--white);
}

.prev:focus-visible {
  border-color: var(--dark);
  outline: none;
}

.prev:hover {
  background-color: var(--violet-dark);
}

.prev:active {
  background-color: var(--violet-light);
  border-color: var(--dark);
}

.prev {
  margin-right: 18px;
}

.prev.swiper-button-disabled {
  background-color: #666;
  opacity: 0.5;
}

.swiper-button-disabled.prev::after {
  color: var(--white);
}

.pagination {
  color: var(--white);
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  margin-right: 19px;
  font-size: 16px;
  transform: translateY(-5px);
}

.gallery__swiper {
  width: calc(1150 / 1602 * 100%);
  margin-right: 0;
}

.gallery__swiper-container {
  overflow: hidden;
}

.gallery__slide {
  position: relative;
  overflow: hidden;
}

.gallery__slide::before {
  content: "";
  position: relative;
  z-index: 1;
  display: block;
  padding-top: calc(100% - 5px);
  border: 3px solid transparent;
  box-sizing: border-box;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.gallery__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery__slide::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  padding: 25px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.5);
  background-image: url("../img/gallery-icon.svg");
  background-repeat: no-repeat;
  background-size: 100px;
  background-position: center;
  background-clip: content-box;
  -webkit-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in;
  cursor: pointer;
}

.gallery__slide:focus-visible,
.swiper-slide:focus-visible,
.gallery__img:focus-visible {
  outline: none;
}

.gallery__slide:focus::before {
  border-color: var(--violet-light);
}

.gallery__slide:active::before {
  border-color: var(--violet-dark);
  background-color: rgba(194, 131, 243, 0.4);
}

.gallery__slide:hover::after {
  opacity: 1;
}

@media (max-width: 1024px) {
  .gallery__container {
    flex-wrap: nowrap;
  }
  .gallery__swiper {
    width: calc(658 / 1024 * 100%);
  }
  .gallery__slide::before {
    padding-top: calc(85% + 71px);
  }

  .gallery-left {
    width: 100%;
  }
  .form-content {
    margin-top: 0;
  }

  .gallery__choices {
    width: 280px;
    margin-bottom: 112px;
  }

  .gallery__checkbox {
    margin-right: calc(670 / 1600 * 100%);
  }

  .gallery {
    padding-bottom: 81px;
  }
}

@media (max-width: 970px) {
  .gallery__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .gallery__choices {
    margin-bottom: 46px;
  }

  .gallery-left {
    width: 42.5%;
    margin-bottom: 21px;
  }

  .gallery {
    padding-bottom: 80px;
  }

  .gallery__checkbox {
    margin-right: calc(570 / 1600 * 100%);
  }
  .gallery__swiper {
    width: 100%;
  }
  .gallery__slide::before {
    padding-top: calc(85% + 57px);
  }
  .swiper-nav {
    margin-bottom: 27px;
  }
}

@media (max-width: 640px) {
  .choices {
    min-width: 290px;
  }
  .gallery {
    padding-top: 50px;
    padding-bottom: 44px;
  }
  .gallery__choices {
    margin-bottom: 35px;
  }

  .gallery-left {
    width: auto;
    margin-bottom: 4px;
  }
  .gallery__slide::before {
    padding-top: calc(85% + 112px);
  }

  .gallery__nav {
    padding-top: 39px;
    margin: 0 auto;
  }

  .gallery__swiper--layout {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap-reverse;
    flex-wrap: wrap-reverse;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }

  .gallery__title {
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 38px;
  }
  .gallery__span-text {
    margin-bottom: 6px;
  }

  .gallery__title {
    margin-bottom: 13px;
  }

  .gallery__img {
    height: 100%;
  }

  .prev,
  .next {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }

  .gallery__pagination {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }

  .gallery__checkbox {
    margin-right: calc(600 / 1600 * 100%);
  }
}
