.projects {
  margin-bottom: 4.75rem;
}

.projects__text {
  position: relative;
  max-width: 67.5rem;
  padding-right: 1.563rem;
  margin-bottom: 1.25rem;
  font-size: 1rem;
  line-height: 2rem;
}

.projects__title {
  margin-bottom: 0.875rem;
}

.tooltip-icon {
  border: none;
  background: transparent;
  -webkit-transform: translateY(0.188rem);
  -ms-transform: translateY(0.188rem);
  transform: translateY(0.188rem);
}

.tooltip-icon svg {
  border: 1px solid transparent;
  border-radius: 100px;
  -webkit-transition: border-color 0.3s ease-in-out;
  -o-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
}

.tooltip-icon:hover svg,
.tooltip-icon:focus-visible svg {
  border-color: var(--violet-dark);
}

.tooltip-icon svg path,
.tooltip-icon svg path + path {
  -webkit-transition: fill 0.3s ease-in-out;
  -o-transition: fill 0.3s ease-in-out;
  transition: fill 0.3s ease-in-out;
}

.tooltip-icon:hover svg path,
.tooltip-icon:focus-visible svg path {
  fill: var(--violet-super-light);
}

.tooltip-icon:hover svg path + path,
.tooltip-icon:focus-visible svg path + path {
  fill: #fff;
}

.tooltip-icon:focus-visible {
  outline: none;
}

.tippy-tooltip.lightning-theme .tippy-tooltip-content {
  font-size: 0.313rem;
}

.tippy-box[data-theme~="tomato"] {
  background-color: var(--violet-dark);
  color: #fff;
  border-radius: 0;
  line-height: 1rem;
}

.tippy-box[data-theme~="tomato"][data-placement^="top"] > .tippy-arrow::before {
  border-top-color: var(--violet-dark);
}

.projects__link {
  font-weight: 600;
  color: var(--violet-dark);
  border-bottom: 1px solid transparent;
  -webkit-transition: border-color 0.3s ease-in-out, color 0.3s ease-in-out;
  -o-transition: border-color 0.3s ease-in-out, color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.projects__link:hover {
  border-color: var(--violet-dark);
}

.projects__link:focus {
  padding: 0 0.313rem;
  background-color: var(--violet-dark);
  color: #fff;
}

.projects__link:active {
  color: var(--dark);
  border-color: var(--dark);
}

.projects__sub-title {
  margin: 0;
  margin-bottom: 1.75rem;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2rem;
}

/* projects slider  */

.projects-slider__slider {
  overflow: hidden;
  width: calc(1450 / 1600 * 100%);
}
.projects-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.projects__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 9.375rem;
  padding: 2rem 3.75rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #cacaca;
  box-sizing: border-box;
  -webkit-transition: border-color 0.3s ease-in-out;
  -o-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  outline: none;
}

.projects__picture {
  max-height: 100%;
  -webkit-filter: contrast(1) opacity(0.4) grayscale(1);
  filter: contrast(1) opacity(0.4) grayscale(1);
  -webkit-transition: border-color 0.3s ease-in-out,
    -webkit-filter 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out, -webkit-filter 0.3s ease-in-out;
  -o-transition: filter 0.3s ease-in-out, border-color 0.3s ease-in-out;
  transition: filter 0.3s ease-in-out, border-color 0.3s ease-in-out;
  transition: filter 0.3s ease-in-out, border-color 0.3s ease-in-out,
    -webkit-filter 0.3s ease-in-out;
}

.projects__slide:focus {
  border-color: var(--violet-dark);
}

.projects__slide:hover .projects__picture {
  -webkit-filter: none;
  filter: none;
  opacity: 1;
}

.projects__slide:active {
  border-color: var(--violet-dark);
}

@media (max-width: 1280px) {
  .projects__slide {
    height: 8rem;
    padding: 1.688rem 3.125rem;
  }

  .projects {
    margin-bottom: 5rem;
}

  .projects-slider__slider {
    width: calc(818 / 924 * 100%);
  }

  .project {
    margin-bottom: 5.188rem;
  }

  .projects__subtitle {
    margin-bottom: 1.5rem;
  }
  .projects__swiper-prev,
  .projects__swiper-next {
    top: 4.438rem;
  }
  .projects__text {
    padding-right: 0;
    margin-bottom: 1.313rem;
  }

  .projects-container {
    padding-right: 2.625rem;
  }
  .projects-slider {
    padding-right: 0.625rem;
  }
  .projects__sub-title {
    margin-bottom: 1.438rem;
  }
}

@media (max-width: 970px) {
  .projects-container {
    padding-right: 2.625rem;
  }
  .projects__slide {
    height: 6.625rem;
    padding: 0.938rem 1.5rem;
  }

  .projects-slider__slider {
    width: calc(562 / 668 * 100%);
  }

  .projects__text {
    margin-bottom: 0;
  }
  .projects__subtitle {
    margin-bottom: 1.938rem;
  }
  .projects__link {
    display: block;
  }
  .projects__slide {
    padding-left: 0.625rem;
    padding-right: 0.625rem;
  }
  .projects__swiper-prev,
  .projects__swiper-next {
    top: 3.75rem;
  }
}

@media (max-width: 640px) {
  .projects-container {
    padding-right: 0.938rem;
  }
  .projects__slide {
    height: 4.063rem;
    padding: 1.25rem 2.75rem;
  }

  .projects-slider__slider {
    width: calc(195 / 290 * 100%);
  }

  .projects {
    margin-bottom: 1.6rem;
  }
  .projects__title {
    margin-bottom: 0.875rem;
    font-size: 1.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.375rem;
  }
  .projects__text {
    margin-bottom: 0.5rem;
  }
  .projects__sub-title {
    margin-bottom: 0.688rem;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 600;
    line-height: 2rem;
  }
  .projects__swiper-prev,
  .projects__swiper-next {
    top: 2.438rem;
  }

  .projects-slider {
    padding-right: 0;
  }
}
