.projects {
  padding-top: 40px;
  padding-bottom: 80px;
}

.projects__text {
  position: relative;
  max-width: 1070px;
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 32px;
}

.projects__title {
  margin-bottom: 16px;
}

.tooltip-icon {
  border: none;
  background: transparent;
  -webkit-transform: translateY(3px);
  -ms-transform: translateY(3px);
  transform: translateY(3px);
}

.tooltip-icon svg {
  border: 1px solid transparent;
  border-radius: 100px;
  -webkit-transition: border-color 0.3s ease-in-out;
  -o-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
}

.tooltip-icon:hover svg,
.tooltip-icon:focus-visible svg {
  border-color: var(--violet-dark);
}

.tooltip-icon svg path,
.tooltip-icon svg path + path {
  -webkit-transition: fill 0.3s ease-in-out;
  -o-transition: fill 0.3s ease-in-out;
  transition: fill 0.3s ease-in-out;
}

.tooltip-icon:hover svg path,
.tooltip-icon:focus-visible svg path {
  fill: var(--violet-super-light);
}

.tooltip-icon:hover svg path + path,
.tooltip-icon:focus-visible svg path + path {
  fill: #fff;
}

.tooltip-icon:focus-visible {
  outline: none;
}

.tippy-tooltip.lightning-theme .tippy-tooltip-content {
  font-size: 5px;
}

.tippy-box[data-theme~="toltip-content"] {
  padding: 8px;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
  text-align: center;
  border-radius: 0;
  background-color: var(--violet-dark);
  color: #fff;
}

.tippy-box[data-theme~="toltip-content"][data-placement^="top"]
  > .tippy-arrow::before {
  border-top-color: var(--violet-dark);
}

.projects__link {
  font-weight: 600;
  color: var(--violet-dark);
  border-bottom: 1px solid transparent;
  -webkit-transition: border-color 0.3s ease-in-out, color 0.3s ease-in-out;
  -o-transition: border-color 0.3s ease-in-out, color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.projects__link:hover {
  border-color: var(--violet-dark);
}

.projects__link:focus {
  padding: 0 5px;
  background-color: var(--violet-dark);
  outline: none;
  color: #fff;
}

.projects__link:active {
  color: var(--dark);
  border-color: var(--dark);
}

.projects__sub-title {
  margin: 0;
  margin-bottom: 23px;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
}

/* projects slider  */

.projects-slider__slider {
  overflow: hidden;
  width: calc(1450 / 1600 * 100%);
}
.projects-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.projects__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 150px;
  padding: 32px 60px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #cacaca;
  box-sizing: border-box;
  -webkit-transition: border-color 0.3s ease-in-out;
  -o-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  outline: none;
}

.projects__picture {
  max-height: 100%;
  -webkit-filter: contrast(1) opacity(0.4) grayscale(1);
  filter: contrast(1) opacity(0.4) grayscale(1);
  -webkit-transition: border-color 0.3s ease-in-out,
    -webkit-filter 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out, -webkit-filter 0.3s ease-in-out;
  -o-transition: filter 0.3s ease-in-out, border-color 0.3s ease-in-out;
  transition: filter 0.3s ease-in-out, border-color 0.3s ease-in-out;
  transition: filter 0.3s ease-in-out, border-color 0.3s ease-in-out,
    -webkit-filter 0.3s ease-in-out;
}

.projects__picture img {
  max-height: 100%;
}

.projects__slide:focus {
  border-color: var(--violet-dark);
}

.projects__slide:hover .projects__picture {
  -webkit-filter: none;
  filter: none;
  opacity: 1;
}

.projects__slide:active {
  border-color: var(--violet-dark);
}

@media (max-width: 1280px) {
  .projects__slide {
    height: 128px;
    padding: 27px 50px;
  }

  .projects {
    padding-top: 33px;
    padding-bottom: 80px;
}

  .projects-slider__slider {
    width: calc(818 / 924 * 100%);
  }

  .project {
    margin-bottom: 83px;
  }

  .projects__subtitle {
    margin-bottom: 24px;
  }
  .projects__swiper-prev,
  .projects__swiper-next {
    top: 71px;
  }
  .projects__text {
    padding-right: 0;
    margin-bottom: 21px;
  }

  .projects-container {
    padding-right: 42px;
  }
  .projects-slider {
    padding-right: 10px;
  }
  .projects__sub-title {
    margin-bottom: 23px;
  }
}

@media (max-width: 970px) {
  .projects-container {
    padding-right: 41px;
  }
  .projects__slide {
    height: 106px;
    padding: 17px 24px;
  }

  .projects-slider__slider {
    width: calc(562 / 668 * 100%);
  }

  .projects__text {
    margin-bottom: 28px;
  }
  .projects__sub-title {
    margin-bottom: 28px;
  }
  .projects__link {
    display: inline-block;
  }
  .projects__swiper-prev,
  .projects__swiper-next {
    top: 60px;
  }
}

@media (max-width: 610px) {
  .projects {
    padding-top: 20px;
    padding-bottom: 13px;
}
  .projects-container {
    padding-right: 15px;
  }
  .projects__slide {
    height: 65px;
    padding: 14px 27px;
  }


  .projects-slider__slider {
    width: calc(194 / 290 * 100%);
  }

  .projects__title {
    margin-bottom: 11px;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 38px;
  }
  .projects__text {
    margin-bottom: 8px;
  }
  .projects__sub-title {
    margin-bottom: 13px;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
  }
  .projects__swiper-prev,
  .projects__swiper-next {
    top: 39px;
  }

  .projects-slider {
    padding-right: 0;
  }

}
